<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Artists</h1>

    <div class="nav">
      <a href="/landing" class="button">Home</a>
      <a href="/albums" class="button">Albums</a>
      <a href="/artists/new" class="button">Add An Artist</a>
    </div>

    {% for artist in artists %}

    <div class="lists">
      <h2>
        <a href="/artists/{{artist.id}}">{{artist.name}}</a>
      </h2>
    </div>

    {% endfor %}
  </body>
</html>
