<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new album</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Add a new artist</h1>
    <div><a href="/artists">Go back to artists</a></div>
    <div>
      <form action="/artists" method="POST">
        <h3>
          <label for="title">Artist Name</label><br />
          <input type="text" name="name" id="name" />
        </h3>
        <h3>
          <label for="genre">Genre</label>
          <br />
          <input type="text" name="genre" id="genre" />
        </h3>
        <p><input type="submit" value="Add Artist" class="button" /></p>
      </form>
    </div>
  </body>
</html>
