<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Info</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>{{artist.name}}</h1>
    <div><a href="/artists">Go back to artists</a></div>
    <div>
      <form action="/artists/{{ artist.id }}/delete" method="POST">
        <input type="submit" value="Delete This Artist" class="button" />
      </form>
    </div>
    <div>
      <h2>Genre: {{artist.genre}}</h2>
    </div>
  </body>
</html>
