<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Info</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>{{artist.name}}</h1>
    <div class="nav">
      <a href="/landing" class="button">Home</a>
      <a href="/artists" class="button">Back</a>
    </div>

    <div class="lists">
      <h2>Genre: {{artist.genre}}</h2>
      <form action="/artists/{{ artist.id }}/delete" method="POST">
        <input
          type="submit"
          value="Delete This Artist"
          class="button"
          onclick="return confirm('Are you sure you want to delete this artist?')"
        />
      </form>
    </div>
  </body>
</html>
