body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #3498db, #e74c3c);
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.lists {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  /* transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

.button:hover {
  background-color: #27ae60;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adjusted box shadow on hover */
}

.button:hover {
  background-color: #27ae60;
}

/* div:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.8);
} */

/* Basic styling for the navigation bar */

.nav {
  display: flex;
  align-items: center;
  padding-top: 10px;
  height: 60px;
  clear: both;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin-left: 10px;
  /* padding: 15px 16px; */
  text-decoration: none;
}

.nav a:hover {
  background-color: #555;
}
