<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new album</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Add a new album</h1>
    <div>
      <form action="/albums" method="POST">
        <h3>
          <label for="title">Title</label><br />
          <input type="text" name="title" id="title" />
        </h3>
        <h3>
          <label for="release_year">Release year</label>
          <br />
          <input type="text" name="release_year" id="release_year" />
        </h3>
        <p><input type="submit" value="Add Album" class="button" /></p>
      </form>
    </div>
  </body>
</html>
