<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1 class="t-title">{{album.title}}</h1>
    <div class="nav">
      <a href="/landing" class="button">Home</a>
      <a href="/albums" class="button">Back</a>
    </div>
    <div class="lists">
      <h2 class="t-release_year">Released: {{album.release_year}}</h2>
      <h2>Artist id: {{album.artist_id}}</h2>
      <form action="/albums/{{ album.id }}/delete" method="POST">
        <input
          type="submit"
          value="Delete This Album"
          class="button"
          onclick="return confirm('Are you sure you want to delete this album?')"
        />
      </form>
    </div>
  </body>
</html>
