<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Songs</h1>
    <div class="nav">
      <a href="/landing" class="button">Home</a>
      <a href="/tracks/new" class="button">Add A Track</a>
      <a href="/albums" class="button">Go To Albums</a>
      </div>
      {% for song in songs %}
        <article>
            <div class="lists">
            <h2>
                <a href="/tracks/{{track.id}}">{{track.title}}</a>
            </h2>
            </div>
  </body>
</html>
